{% extends "base.html" %}
{% block title %}Tables{% endblock %}
{% block body %}
    <head>
    
    
        <link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/scroller.dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/colReorder.dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/rowReorder.dataTables.min.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', filename='lib/URI.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/dataTables.scroller.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/dataTables.responsive.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/dataTables.colReorder.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/dataTables.rowReorder.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/dataTables.buttons.min.js') }}"></script>
    </head>
    <div class="tables-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tables-message">
                        <h1>Search the DataBase tables</h1>
                        <h3>User, Role, Career, Note</h3>
                        <hr class="intro-divider">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="myform" method="GET">
        <p>
            <label for="tablelookup">Table Name: </label>
            <input id="tablelookup" type="text" name="tablelookup" value=User>
            <button id='searchbutton' class="search" type="button"><span>Search</span></button>
        </p>
    </form>
    <table id="table" class="dataTable sig-datatable" width="100%">
    </table>
    </body>

    <script>
        $(document).ready(function () {

            $('#searchbutton').click(function () {

                $.ajax({
                    'type': 'GET',
                    'url': '/gettables',
                    'data': {'mytable': $('#tablelookup').val()},
                    success: function (data) {
                        if (data.status == 404) {
                            alert('Redirecting Back Home\n' + data.msg)
                            location.assign('/')
                        }

                        var columns = [];

                        for (var k in data.ideas[0]) {
                            columns[columns.length] = {title: k, data: k, defaultContent: "-"};
                        }

                        if ($.fn.dataTable.isDataTable('#table')) {
                            table.destroy()
                            $('#table').empty()
                            table = $('#table').DataTable({
                                columns: columns,
                                bAutoWidth: true,
                                data: data.ideas
                            })
                        }
                        // Otherwise, we can initialize the Table.
                        else {
                            table = $('#table').DataTable({
                                columns: columns,
                                bAutoWidth: true,
                                data: data.ideas
                            })

                        }
                    }

                })
            })
        })
    </script>
{% endblock %}